<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzccaidp.mapper.agent.AgentMessageMapper">


    <select id="listMessageBySessionId" resultType="com.zzccaidp.dao.agent.AgentMessageDO">
        SELECT
            id,
            session_id,
            message_index,
            `role`,
            content,
            `timestamp`,
            metadata_json
        FROM
            session_messages
        WHERE
            session_id=#{sessionId}
    </select>
    <delete id="deleteMessagesBySessionId">
        delete from session_messages where session_id = #{sessionId}
    </delete>

</mapper>
