<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzccaidp.mapper.knowledgebase.PersonalDatasetMapper">
    <select id="selectByUserCode" resultType="com.zzccaidp.dao.knowledgebase.PersonalDatasetDO">
        SELECT
            id,
            user_code as userCode,
            dataset_id as datasetId,
            create_time as createTime,
            update_time as updateTime
        FROM personal_dataset
        WHERE user_code = #{userCode}
    </select>
</mapper>
