<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.zzccaidp.mapper.ai.TemplateLastFileMapper">

    <delete id="deleteByTemplateIdAndUserId">
        delete from zzccaidp_template_last_file where user_id = #{userId} and template_id = #{templateId}
    </delete>
    <select id="selectByUserId" resultType="com.zzccaidp.dao.ai.TemplateLastFileDO">
        select * from zzccaidp_template_last_file where user_id = #{userId}
    </select>
    </mapper>
