<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzccaidp.mapper.ai.TransLogMapper">
    <resultMap id="BaseResultMap" type="com.zzccaidp.dao.ai.TransLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="transFlowId" jdbcType="VARCHAR" property="trans_flow_id"/>
        <result column="chl" jdbcType="VARCHAR" property="chl"/>
        <result column="errcode" jdbcType="VARCHAR" property="errcode"/>
        <result column="errmsg" jdbcType="VARCHAR" property="errmsg"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="count_time" jdbcType="INTEGER" property="countTime"/>
        <result column="server_address" jdbcType="VARCHAR" property="serverAddress"/>
        <result column="remote_address" jdbcType="VARCHAR" property="remoteAddress"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="sceneAccount" jdbcType="VARCHAR" property="scene_account"/>
        <result column="req_body" jdbcType="VARCHAR" property="reqBody"/>
        <result column="res_body" jdbcType="VARCHAR" property="resBody"/>
    </resultMap>
</mapper>
